<?xml version="1.0" encoding="UTF-8"?>
 
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <servers>
    <server>
      <id>nexus-releases</id>
      <username>data</username>
      <password>OshkoybBofolpInVijev6drikVoon%</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>data</username>
      <password>OshkoybBofolpInVijev6drikVoon%</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
        <id>aliyun</id>
        <mirrorOf>central</mirrorOf>
        <name>Nexus aliyun</name>
        <url>http://maven.aliyun.com/nexus/content/groups/public</url>
    </mirror>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <name>Nexus</name>
      <url>http://nexus.k8s.uc.host.dxy/repository/maven-public/</url>
    </mirror>
  </mirrors>

  <repositories>
      <repository>
          <id>nexus</id>
          <name>dxy private repository</name>
          <url>http://nexus.k8s.uc.host.dxy/repository/maven-public/</url>
          <snapshots>
              <enabled>true</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <releases>
              <enabled>true</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
          </releases>
          <layout>default</layout>
      </repository>
  </repositories>

  <distributionManagement>
      <repository>
          <id>nexus-releases</id>
          <name>Nexus Release Repository</name>
          <url>http://nexus.k8s.uc.host.dxy/repository/maven-releases/</url>
      </repository>
      <snapshotRepository>
          <id>nexus-snapshots</id>
          <name>Nexus Snapshot Repository</name>
          <url>http://nexus.k8s.uc.host.dxy/repository/maven-snapshots/</url>
      </snapshotRepository>
  </distributionManagement>

  <profiles>
    <profile>
      <id>nexus-profile</id>
      <repositories>
        <repository>
          <id>nexus-releases</id>
          <url>http://nexus.k8s.uc.host.dxy/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
 
  <activeProfiles>
    <activeProfile>nexus-profile</activeProfile>
  </activeProfiles>
 
</settings>
